# Python
__pycache__
*.pyc
*.pyo
*.pyd
*.pyc
*.db
*.sqlite3
*.log

# Виртуальное окружение
.venv
env
virtualenv
*.env


# База данных
/db/*.db

# VS Code / PyCharm
/.vscode/
/.idea/
*.swp
*.swo

# Тестовые данные
/__pycache__
*.pyc

# Операционные системы
.DS_Store
Thumbs.db